//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sun 12 17 18:29:16 2023

IO_LOC "tx_dbg" 53;
IO_PORT "tx_dbg" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rx_dbg" 54;
IO_PORT "rx_dbg" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "tx" 17;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dc" 25;
IO_PORT "dc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sck" 36;
IO_PORT "sck" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mosi" 37;
IO_PORT "mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cs" 38;
IO_PORT "cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "direction[1]" 57;
IO_PORT "direction[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "direction[0]" 68;
IO_PORT "direction[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "speed" 69;
IO_PORT "speed" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[5]" 16;
IO_PORT "leds[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "leds[4]" 15;
IO_PORT "leds[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "leds[3]" 14;
IO_PORT "leds[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "leds[2]" 13;
IO_PORT "leds[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "leds[1]" 11;
IO_PORT "leds[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "leds[0]" 10;
IO_PORT "leds[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "rx" 18;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn1" 4;
IO_PORT "btn1" PULL_MODE=UP;
IO_LOC "btn0" 3;
IO_PORT "btn0" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "encoder[1]" 55;
IO_PORT "encoder[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "encoder[0]" 56;
IO_PORT "encoder[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
